<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="well">
			<form>
				<legend>Add Album</legend>
				<div class="form-group">
					<label for="name">Title</label>
					<input type="text" class="form-control" id="name" placeholder="Album Name" ng-model="title">
				</div>
				<div class="form-group">
					<label for="artist">Artist</label>
					<input type="text" class="form-control" id="artist" placeholder="Album Artist" ng-model="artist">
				</div>
				<button type="submit" class="btn btn-default" ng-click="saveNewAlbum()">Submit</button>
			</form>
		</div>
	</div>
</div>